body {
	font-family: "Raleway", sans-serif;
}

span {
	color: gray;
}


.header {
    width: 99%;
    text-align: center;
}   

.logo {
	text-align: center;
    color:red;
    font-size: 40px;
    padding: 15px;
    margin: 15px;
    display: inline-block;
}

.navbar {
	    text-align: center;
		color: gray;
	    font-weight: 900;
	    padding: 5px;
	    margin: 25px;

}

#l2 {
	font-style: italic;
	font-family: time;
	font-size:20px ;
	margin: 0px;
}

h1 {
	padding: 0px;
	color: red;
	font-size: 26px;
}

a:hover {
    color: red;
    transition:  0.3s;
}


a {
	color: #696969;
	display:center;
	padding: 3px;
	margin: 8px;
	text-decoration: none;
	display: inline-block; 

}

.image1 {
	border: solid 1px red;
}

.skintest {
	background-color: black;
	margin:  50px 0px 0px;
	padding: 50px;
	text-align: center;
}

.article1 {
	color: gray;
	margin: 90px 0px;
	padding: 10px;
	border: solid 3px red;
}

#s2 {
   
    background-color: black;
    color: white;
    padding:20px ;

}

#s1 {
	margin: 50px 0px;
}


/*a partire d'ici il faut retatravailler cette anciene page*/


 h2 {
    text-align: center;
 }

 h5 {text-align: left;
 }


section.machine {
	padding:10%;
	vertical-align: vertical;}
 
section, aside{
 	background-color: ;
	text-align:left;
	line-height: 200%;
	font-size: 16px;
	color: gray;
}

ul {
   text-align: left;
   padding:rihte;}

img.skintest {
   	background: black;
      width: 80%;
      padding: 10%;
  }

img {
	drop-shadow: 30px 10px 4px #4444dd;
}







