body {
	font-family: "Raleway", sans-serif;
}

span {
	color: gray;
}


.header {
    width: 99%;
    text-align: center;
}   

.logo {
	text-align: center;
    color:red;
    font-size: 27px;
    padding: 10px;
    margin: 10px;
    display: inline-block;
}

.navbar {
	    text-align: center;
		color: gray;
	    font-weight: 900;
	    padding: 10px;
	    margin: 0px;

}

#l2 {
	font-style: italic;
	font-family: time;
	font-size:20px ;
	margin: 0px;
}

h1 {
	padding: 0px;
	color: red;
	font-size: 26px;
}

a:hover {
    color: red;
}


a {
	color: #696969;
	display:center;
	padding: 3px;
	margin: 8px;
	text-decoration: none;
	display: inline-block;    
}







/*a partire d'ici il faut retatravailler cette anciene page*/






 h2 {
    text-align: center;
 }

 h5 {text-align: left;
 }


section.machine {
	background-color:black;
	padding:10%;
	vertical-align: vertical;}
 
section, aside{
 	background-color: black;
	text-align:left;
	line-height: 200%;
	font-size: 16px;
	color: white;
}

ul {
   text-align: left;
   padding:rihte;}

img.skintest {
   	background: black;
      width: 80%;
      padding: 10%;}








