body {
	font-family: "Raleway", sans-serif;
}

span {
	color: gray;
}


.header {
    width: 99%;
    text-align: center;
}   

.logo {
	text-align: center;
    color:red;
    font-size: 27px;
    padding: 10px;
    margin: 10px;
    display: inline-block;
}

.navbar {
	    text-align: center;
		color: gray;
	    font-weight: 900;
	    padding: 10px;
	    margin: 0px;

}

#l2 {
	font-style: italic;
	font-family: time;
	font-size:20px ;
	margin: 0px;
}

h1 {
	padding: 0px;
	color: red;
	font-size: 26px;
}

a:hover {
    color: red;
}


a {
	color: #696969;
	display:center;
	padding: 3px;
	margin: 8px;
	text-decoration: none;
	display: inline-block;    
}

h2 {
	text-align: center;
}


.image1 {
	border: solid 3px;
	background-color: cyan;
	margin-top: 80px;
	margin-bottom: 80px;
	outline: solid 3px;
	outline-color:red ;
	outline-offset: 10px;
}


.skintest {
	border: solid 3px;
	background-color: purple;
}


.article1 {
	padding: 50px;
	margin-top: 80px;
	margin-bottom: 80px;
	border: solid 5px;
	background-color: blue;
}

#chiffre {
	border: solid 3px;
	padding-top: 90px;
	background-color: greenyellow;
}

#s1 {
	border:solid 3px;
	padding-top: 100px;
	margin-top: 80px;
	margin-bottom: 80px;
	background-color: darkgray;
}

#s2 {
	border:solid 3px;
	padding-top: 50px;
	background-color: red;
}

/*pk le plus precie s1.. ne fonction pas et garde le general UL/IL et ne retire pas les bordures*/
/*#s1, #s2 {
	    border: none !important;*/

}












